.assignment-card {

  background-color: white;

  padding: 25px;

  border-radius: 14px;

  border: 1px solid rgb(233,213,255);

  box-shadow:
    0 8px 20px rgba(109,40,217,0.12);

  transition: 0.3s ease;

}

.assignment-card:hover {

  transform: translateY(-5px);

}

.assignment-card h3 {

  color: rgb(109,40,217);

  margin-bottom: 15px;

}

.assignment-card p {

  margin-bottom: 10px;

  color: rgb(75,85,99);

}

.assignment-card button {

  margin-top: 10px;

  width: 100%;

  padding: 12px;

  border: none;

  border-radius: 8px;

  color: white;

  cursor: pointer;

  background: linear-gradient(
    135deg,
    rgb(109,40,217),
    rgb(147,51,234)
  );

}